/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("../public/assets/light-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

 footer {
      background-color: #111;
      color: #fff;
      text-align: center;
      padding: 15px;
    }